# Data from numbeo.com in order to get the Life Quality index per country

#### About the Index:
Quality of Life Index (higher is better) is an estimation of overall quality of life by using an empirical formula which takes into account purchasing power index (higher is better), pollution index (lower is better), house price to income ratio (lower is better), cost of living index (lower is better), safety index (higher is better), health care index (higher is better), traffic commute time index (lower is better) and climate index (higher is better).

In [3]:
import pandas as pd
import pymysql

quality = pd.read_csv('life_quality.csv')
quality.drop(['Rank'], axis =1, inplace=True)
quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
Country                  5 non-null object
Quality of Life Index    5 non-null float64
dtypes: float64(1), object(1)
memory usage: 152.0+ bytes

# Data from numbeo.com in order to get the Living Cost index per country

#### About the Index:
These indices are relative to New York City (NYC). Which means that for New York City, each index should be 100(%). If another city has, for example, rent index of 120, it means that on an average in that city rents are 20% more expensive than in New York City. If a city has rent index of 70, that means on an average in that city rents are 30% less expensive than in New York City.

Cost of Living Index (Excl. Rent) is a relative indicator of consumer goods prices, including groceries, restaurants, transportation and utilities. Cost of Living Index doesn't include accommodation expenses such as rent or mortgage. If a city has a Cost of Living Index of 120, it means Numbeo estimates it is 20% more expensive than New York (excluding rent).

In [5]:
cost = pd.read_csv('living_cost.csv')
cost['Average living cost'] = cost['Average living cost'].apply(round)
cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
Average living cost    5 non-null float64
Country                5 non-null object
dtypes: float64(1), object(1)
memory usage: 152.0+ bytes

# Joining both tables to have just one

In [22]:
join = cost.join(quality, lsuffix='cost')
join.drop(['Countrycost'], axis=1, inplace=True)
join

   Average living cost         Country  Quality of Life Index
0               2333.0           Spain                 173.56
1               3181.0          France                 156.10
2               2785.0         Germany                 184.30
3               2838.0  United Kingdom                 166.73
4               3024.0   United States                 176.77

In [24]:
join = join.reindex(columns=['Country','Average living cost','Quality of Life Index'])
join

          Country  Average living cost  Quality of Life Index
0           Spain               2333.0                 173.56
1          France               3181.0                 156.10
2         Germany               2785.0                 184.30
3  United Kingdom               2838.0                 166.73
4   United States               3024.0                 176.77

In [25]:
join.to_csv('Avg_and_quality.csv')